@model IEnumerable<DSR_N2.Models.UserWithGeslo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priimek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_Roj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kraj_Roj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postna_Stevilka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drzava)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priimek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_Roj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kraj_Roj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postna_Stevilka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzava)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EMSO">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EMSO">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EMSO">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
